---
layout: page
title: Incident Report
permalink: /incidentreport/
---

<style type="text/css">

  .map-latlong {
    width: 45%;
    border: 0.5px #ffffff solid !important;
    padding: 20px;
    font-size: 1em;
    outline: none;
    margin: 5px;
    background: #ddd;
    border-radius: 10px;
    box-sizing: border-box;
    text-transform: capitalize;
    -webkit-transition: all 0.5s ;
    -moz-transition: all 0.5s ;
    -ms-transition: all 0.5s ;
    -o-transition: all 0.5s ;
    transition: all 0.5s ;
    color: #666666;
  }

  #map {
    width: 100%;
    height: 500px;
    border-radius: 10px;
  }

  #witnesses {
    background-color:#fff89d;
  }
  #witness-operators-group,
  #non-member-witnesses,
  #witness-staff-group,
  #witness-other-group {
    background-color: #fffcd9;
  }
  #non-member-witnesses textarea {
    background-color:#ffffff;
  }

  #witnesses,
  #witness-operators-group,
  #non-member-witnesses,
  #witness-staff-group,
  #witness-other-group {
    border:1px #cccccc solid;
    margin:5px;
    padding:5px;
  }

  div#fleet-cars-involved-group,
  div#nonfleet-cars-involved-group,
  div#other-cars-involved-group {
    float:left;
    margin:5px;
    padding:5px;
    border:1px #ffffff solid;
  }

  div#fleet-cars-involved-group {
    background-color:#dfe6e1;
    width:225px;
  }
  div#nonfleet-cars-involved-group {
    background-color:#e6e3df;
    width:200px;
  }
  div#other-cars-involved-group {
    background-color:#d9deec;
    width:200px;
  }

  #cars-involved {
    border:1px darkGreen solid;
    background-color:#b2e5c1;
  }

  input#devon {
    width:100px;
    height:50px;
    border:4px #dddddd solid;
    background-color:#efefef;
    color:#dddddd;
    font-weight:bold;
    margin-left:15px;
    cursor: pointer;
  }

  input[type=checkbox] {
    width: 20px;
    height: 20px;
  }

  div.form-group {
    padding:5px;
    margin:5px;
  }

  #were-first-responders-called-group {
    border:1px red solid;
  }
  #who-were-the-first-responders-group {
    border:1px red solid;
    background-color:salmon;
  }

  #was-the-car-damaged-group {
    border:1px red solid;
  }
  #how-was-the-car-damaged-group {
    border:1px red solid;
    background-color:salmon;
  }

  #operators-group {
    border:1px blue solid;
    background-color:lightBlue;
  }
  #everything-is-true {
    width:50px;
    height:50px;
    border:4px darkBlue solid !important;
    /* style="float:left; */
    /* margin-right:10px;" */
  }

  button#submit-button {
    width:100px;
    height:50px;
    border:4px darkGrey solid;
    background-color:lightGrey;
    color:#darkGrey;
    font-weight:bold;
    margin-left:15px;
    cursor: pointer;
  }

  button#submit-button:enabled {
    border:4px darkRed solid;
    background-color:lightSalmon;
    color:#darkRed;
  }

  #submit-button:hover:enabled {
    background-color:darkRed;
    color:#ffffff;
    border:4px salmon solid;
  }

  #first-name,
  #last-name,
  #name,
  #date-report-written,
  #cars-involved-summary,
  #weather-conditions-summary {
    background-color:#efefef;
    color:#333333;
  }



  #weather-group {
    border:1px lightBlue solid;
  }

  #fleet-cars-involved-label, #nonfleet-cars-involved-label, #other-cars-involved-label {
    font-weight: bold;
  }

</style>

<form id="incident-report" action="" method="POST">

  <div class="form-group" id="operators-group">
    <label style="float:left;margin:10px;" for="operators"><strong>Your Name</strong></label>
    <select class="form-control" style="float:left;margin:10px;" id="operators" name="operators">
      <option selected value=""></option>
      {% for operator in site.operators %}
        <option value="{{ operator['firstname'] }}|{{ operator['lastname'] }}|{{ operator['email'] }}|{{ operator['phone'] }}">{{ operator["lastname"] }}, {{ operator["firstname"] }}</option>
      {% endfor %}
    </select>
    <label for="operators" style="color:darkBlue; font-size:10pt;"><em>Find your name, it will automatically populate fields in grey below.<br />If your name is missing, contact <a href="mailto:safety@trolleymuseum.org">safety@trolleymuseum.org</a></em></label>
  </div>

  <div class="form-group">
    <label class="mandatory" for="first-name">Your First Name</label>
    <input type="text" class="form-control" id="first-name" name="first-name" readonly="readonly" placeholder="" />
  </div>

  <div class="form-group">
    <label class="mandatory" for="last-name">Your Last Name</label>
    <input type="text" class="form-control" id="last-name" name="last-name" readonly="readonly" placeholder="" />
  </div>

  <div class="form-group">
    <label class="mandatory" for="name">Your Full Name</label>
    <input type="text" class="form-control" id="name" name="name" readonly="readonly" placeholder="" />
  </div>

  <div class="form-group">
    <label class="mandatory" for="phone">Your Phone Number:</label>
    <input type="text" class="form-control" id="phone" name="phone" placeholder="" />
  </div>

  <div class="form-group">
    <label class="mandatory" for="email">Your Email Address:</label>
    <input type="text" class="form-control" id="email" name="email" placeholder="" />
  </div>

  <div class="form-group">
    <label class="mandatory" for="date-report-written">Date & Time Report Written:</label>
    <input type="text" class="form-control" id="date-report-written" name="date-report-written" readonly="readonly" placeholder="" />
  </div>

  <div class="form-group">
    <label class="mandatory" for="date-of-incident"><strong>Date of Incident:</strong></label>
    <!-- input type="text" class="form-control" id="date-of-incident" placeholder="" / -->
    <input type="date" data-date-inline-picker="true" class="form-control" id="date-of-incident" name="date-of-incident" placeholder="" />
  </div>

  <div class="form-group">
    <label class="mandatory" for="date-of-incident"><strong>Time of Incident:</strong></label>
    <!-- input type="text" class="form-control" id="date-of-incident" placeholder="" / -->
    <input type="time" data-date-inline-picker="true" class="form-control" id="time-of-incident" name="time-of-incident" placeholder="" />
  </div>


  <div class="form-group" id="incident-type-group">
    <label style="float:left;margin:10px;" for="incident-type"><strong>Incident Type</strong></label>
    <select class="form-control" style="float:left;margin:10px;" id="incident-type" name="incident-type">
      <option selected value=""></option>
      {% for incident_type in site.incident_types %}
        <option value="{{ incident_type }}">{{ incident_type }}</option>
      {% endfor %}
    </select>
    <label for="incident-type" style="color:darkBlue; font-size:10pt;"><em>If your unique Incident Type is missing, contact <a href="mailto:safety@trolleymuseum.org">safety@trolleymuseum.org</a></em></label>
  </div>


  <div class="form-group" id="were-first-responders-called-group">
    <label for="were-first-responders-called"><strong>Were First Responders Called?</strong></label>
    <select id="were-first-responders-called" name="were-first-responders-called">
      <option selected value="no">no</option>
      <option value="yes">yes</option>
    </select>

    <div class="form-group" id="who-were-the-first-responders-group" style="display:none;">
      <label for="were-first-responders-called"><strong>Who were the first responders?</strong></label>
      <!-- input type="text" class="form-control" id="were-first-responders-called" placeholder="" / -->
      <br />
      <textarea class="form-control" id="were-first-responders-called" name="were-first-responders-called" cols="80" rows="12"></textarea>
    </div>

  </div>

  <div class="form-group" id="cars-involved">
    <h4>Cars Involved</h4>
    <div id="fleet-cars-involved-group">
      <label id="fleet-cars-involved-label" for="fleet-cars-involved">Fleet Cars Involved:</label>
      <br />
      <ul id="fleet-cars-involved" name="fleet-cars-involved">
        {%- for car in site.fleet_cars -%}
        <li>
          <input type="checkbox" id="{{ car['short_name'] }}" name="{{ car['short_name'] }}" value="{{ car['short_name'] }}" />
          <label for="{{ car['short_name'] }}">{{ car['name'] }}</label>
        </li>
        {%- endfor -%}
      </ul>
    </div>

    <div id="nonfleet-cars-involved-group">
      <label id="nonfleet-cars-involved-label" for="nonfleet-cars-involved">Non-Fleet Cars Involved:</label>
      <br />
      <ul id="nonfleet-cars-involved" name="nonfleet-cars-involved">
        {%- for car in site.non_fleet_cars -%}
        <li>
          <input type="checkbox" id="{{ car['short_name'] }}" name="{{ car['short_name'] }}" value="{{ car['short_name'] }}" />
          <label for="{{ car['short_name'] }}">{{ car['name'] }}</label>
        </li>
        {%- endfor -%}
      </ul>
    </div>

    <div id="other-cars-involved-group">
      <label id="other-cars-involved-label" for="other-cars-involved">Other Cars Involved:</label>
      <br />
      <ul id="other-cars-involved" name="other-cars-involved">
        {%- for car in site.other_cars -%}
        <li>
          <input type="checkbox" id="{{ car['short_name'] }}" name="{{ car['short_name'] }}" value="{{ car['short_name'] }}" />
          <label for="{{ car['short_name'] }}">{{ car['name'] }}</label>
        </li>
        {%- endfor -%}
      </ul>
    </div>
    <p style="clear:both" />
    <br />

    <textarea type="text" class="form-control" hidden="true" id="cars-involved-summary" name="cars-involved-summary" readonly="readonly" cols="80" rows="12"></textarea>
  </div>

  <div class="form-group" id="was-the-car-damaged-group">
    <label for="was-the-car-damaged"><strong>Was the car damaged?</strong></label>
    <select id="was-the-car-damaged" name="was-the-car-damaged">
      <option selected value="no">no</option>
      <option value="yes">yes</option>
    </select>

    <div class="form-group" id="how-was-the-car-damaged-group" style="display:none;">
      <label for="was-the-shop-notified"><strong>Was the shop notified?</strong></label>
      <select id="was-the-shop-notified" name="was-the-shop-notified">
        <option selected value="no">no</option>
        <option value="yes">yes</option>
      </select>



<style type="text/css">
  #trolley-damage {
    background: url("/trolley_damage.svg") no-repeat;
    background-size: 100%;
    height:500px;
    width: 690px; /* 926px; */
    border:0.5px #dddddd solid;
    background-color:#ffcfcf;
    position: relative;
  }
  .trolley-damage {
     width:25px;
     height:25px;
     position: absolute;
     cursor: pointer;
  }

  #damage-trucks-1 { left:140px; top:415px; }
  #damage-trucks-2 { left:220px; top:415px; }
  #damage-trucks-3 { left:415px; top:415px; }
  #damage-trucks-4 { left:500px; top:415px; }

  #damage-pole-1        { left:110px; top:34px; }
  #damage-pole-2        { left:520px; top:40px; }
  #damage-rope-1        { left:15px;  top:200px; }
  #damage-rope-2        { left:640px; top:230px; }
  #damage-catcher-1     { left:35px;  top:320px; }
  #damage-catcher-2     { left:605px; top:320px; }
  #damage-controller-1  { left:80px; top:270px; }
  #damage-controller-2  { left:555px; top:270px; }
  #damage-harp-1        { left:200px; top:90px; }
  #damage-harp-2        { left:420px; top:90px; }
</style>

      <p />
      <label for="where-on-the-car-was-it-damaged"><strong>Where on the car was it damaged?</strong><br /><small><em>Check the box where the damage has occurred</em></small></label>
      <br />

      <div id="trolley-damage">
        <input type="checkbox" id="damage-trucks-1" class="trolley-damage" name="damage-trucks-1" />
        <input type="checkbox" id="damage-trucks-2" class="trolley-damage" name="damage-trucks-2" />
        <input type="checkbox" id="damage-trucks-3" class="trolley-damage" name="damage-trucks-3" />
        <input type="checkbox" id="damage-trucks-4" class="trolley-damage" name="damage-trucks-4" />

        <input type="checkbox" id="damage-pole-1" class="trolley-damage" name="damage-pole-1" />
        <input type="checkbox" id="damage-pole-2" class="trolley-damage" name="damage-pole-2" />

        <input type="checkbox" id="damage-rope-1" class="trolley-damage" name="damage-rope-1" />
        <input type="checkbox" id="damage-rope-2" class="trolley-damage" name="damage-rope-2" />

        <input type="checkbox" id="damage-catcher-1" class="trolley-damage" name="damage-catcher-1" />
        <input type="checkbox" id="damage-catcher-2" class="trolley-damage" name="damage-catcher-2" />

        <input type="checkbox" id="damage-pole-1" class="trolley-damage" name="damage-pole-1" />
        <input type="checkbox" id="damage-pole-2" class="trolley-damage" name="damage-pole-2" />

        <input type="checkbox" id="damage-controller-1" class="trolley-damage" name="damage-controller-1" />
        <input type="checkbox" id="damage-controller-2" class="trolley-damage" name="damage-controller-2" />

        <input type="checkbox" id="damage-harp-1" class="trolley-damage" name="damage-harp-1" />
        <input type="checkbox" id="damage-harp-2" class="trolley-damage" name="damage-harp-2" />

      </div>







      <p />
      <label for="how-was-the-car-damaged"><strong>How was the car damaged?</strong></label>
      <br />
      <textarea class="form-control" id="how-was-the-car-damaged" name="how-was-the-car-damaged" cols="80" rows="12"></textarea>
    </div>

  </div>



  <div class="form-group" id="weather-group">
    <label class="mandatory" for="weather-conditions"><strong>What was the weather at the time of the incident?</strong></label>
    <br />
    <ul id="weather-conditions" name="weather-conditions">
    {% for wc in site.weather_conditions %}
      <li><input type="checkbox" id="{{ wc[0] }}" name="{{ wc[0] }}" value="{{ wc[0] }}" />
      <label for="{{ wc[0] }}">{{ wc[1] }} {{ wc[0] }}</label></li>
    {% endfor %}
    </li>
    <br />
    <textarea type="text" class="form-control" hidden="true" id="weather-conditions-summary" name="weather-conditions-summary" readonly="readonly" cols="80" rows="12"></textarea>
  </div>


  <!-- INCIDENT LOCATION -->


<style>
  #track-map {
    background: url("/track_map.svg") no-repeat;
    background-size: 100%;
    height:1000px;
    width: 500px; /* 926px; */
    border:0.5px #dddddd solid;
    background-color:#efefef;
    position: relative;
  }
  #incident-location-group {
    background-color:#d7edee;
    border:1px darkCyan solid;
  }
  #track-map-group {
    position:relative
  }
  #track-map,
  #track-map-names {
    float:left;
  }
  #track-map-names {
    width:210px;
  }
</style>

  <div id="incident-location-group">
    <h4>Incident Location</h4>
    <div class="form-group">
      <label><strong>Select the name of the Track Location where the incident occurred.</strong></label>
      <div id="track-map-group">
        <div id="track-map"></div>
        <div id="track-map-names">
          <!--
          <select id="track-location" name="track-location">
            <option></option>
            {%- for track_location in site.track_locations -%}
              <option value="{{ track_location["code"] }}">{{ track_location["name"] }}</option>
            {%- endfor -%}
          </select>
          -->

            {% for track_location in site.track_locations %}
            <div id="track-location-{{ track_location['code'] }}-row">
              <input type="radio" id="track-location-{{ track_location['code'] }}" value="{{ track_location['code'] }}" name="track-location" />
              <label for="track-location-{{ track_location['code'] }}">{{ track_location["name"] }}</label>
            </div>
            {% endfor %}
        </div><!-- track-map-names -->
      </div><!-- track-map-group -->
      <p style="clear:both;">&nbsp;</p>
    
      <div id="exact-location-group">
        <label><strong>Place a pin where the exact location of the incident occurred</strong></label>
        <div id="map"></div>
        <div id="latlong">
          <input class="map-latlong" type="text" id="latitude"  placeholder="latitude" name="latitude" readonly />
          <input class="map-latlong" type="text" id="longitude" placeholder="longitude" name="longitude" readonly />
        </div><!-- latlong -->
      </div><!-- exact-location-group -->
      <p style="clear:both;">&nbsp;</p>

<!-- leaflet for the map -->
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.7/leaflet.js"></script>

<script>

let mapOptions = {
  center:[43.41028, -70.49213],
  zoom:17
}

let map = new L.map('map' , mapOptions);

let layer = new L.TileLayer('http://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png');
map.addLayer(layer);


let marker = null;
map.on('click', (event)=> {

  if(marker !== null){
    map.removeLayer(marker);
  }

  marker = L.marker([event.latlng.lat , event.latlng.lng]).addTo(map);

  document.getElementById('latitude').value = event.latlng.lat;
  document.getElementById('longitude').value = event.latlng.lng;
    
})
</script>


      <label for="location-of-incident"><strong>Detailed description of location of incident:</strong></label>
      <br />
      <textarea class="form-control" id="location-of-incident" name="location-of-incident" cols="80" rows="12"></textarea>

    </div>

  </div><!-- incident location group -->

  <div class="form-group">
    <label for="circumstances"><strong>Describe the circumstances as completely as possible, including the roles you played.</strong></label>
    <br />
    <textarea class="form-control" id="circumstances" name="circumstances" cols="80" rows="12"></textarea>
  </div>



  <!-- WITNESSES -->

  <div class="form-group" id="witnesses">
    <h4>Witnesses</h4>
    <label><em>Click the (➕) plus sign to add a person</em></label>
    <div id="witness-operators-group">
      <label id="witness-operators-label" for="witness-operators">Operators:</label>
      <input type="button" id="add-witness-operator" name="add-witness-operator" value="➕"
      />
      <p style="clear:both;" />
      <div id="witness-operators"></div>
    </div>

    <div id="witness-staff-group">
      <label id="witness-staff-label" for="witness-staff">Staff:</label>
      <input type="button" id="add-witness-staff" name="add-witness-staff" value="➕"
      />
      <p style="clear:both;" />
      <div id="witness-staff"></div>
    </div>

    <div id="witness-other-group">
      <label id="witness-other-label" for="witness-other">Other Members:</label>
      <input type="button" id="add-witness-other" name="add-witness-other" value="➕"
      />
      <p style="clear:both;" />
      <div id="witness-other"></div>
    </div>

    <div class="form-group" id="non-member-witnesses">
      <label for="non-member-witnesses"><strong>Other/Non-Member witnesses of the incident. Please include their contact information.</strong></label>
      <br />
      <textarea class="form-control" id="non-member-witnesses" name="non-member-witnesses" cols="80" rows="12"></textarea>
    </div>
  </div>






  <div class="form-group">
    <label for="contributing-factors"><strong>What were the contributing factors of the incident?</strong></label>
    <br />
    <textarea class="form-control" id="contributing-factors" name="contributing-factors" cols="80" rows="12"></textarea>
  </div>

  <div class="form-group">
    <label for="recommendations"><strong>What are your follow up recommendations:</strong></label>
    <br />
    <textarea class="form-control" id="recommendations" name="recommendations" cols="80" rows="12"></textarea>
  </div>

  <div class="form-group">
    <input style="float:left; margin-right:10px;" type="checkbox" class="form-control" id="everything-is-true" name="everything-is-true" placeholder="" />
    <label for="everything-is-true"><strong>By checking this box, I certify that everything I've written above is accurate and a complete account of the incident as I observed and experienced it.</strong></label>
    <br />
    
  </div>

  <div class="form-group">
    <label><span style="color:red;">Click the Checkbox <strong>ABOVE</strong>, then click the <strong>submit</strong> button to submit the form</span></label>
    <button name="submit-button" id="submit-button" type="submit" class="btn btn-primary" disabled="disabled">Submit</button>
  </div>

  <pre id="response"></pre>

</form>

<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>


<script type="text/javascript">
$(document).ready(function() {
  console.log("Hello, Devon");

  /*
   * Test function that populates form
   */
  $('#devon').on("mousedown", function(){
    $("#first-name").val("Alexander");
    $("#last-name").val("Hamilton");
    $("#name").val("Alexander Hamilton");
    $("#phone").val("207-867-5309");
    $("#email").val("devon+hamilton@hubner.org");
    $("#date-report-written").val("2024-01-22T02:32:12.540Z");
    $("#cars-involved-summary").val("303,1160");
    $("#weather-conditions-summary").val("Sun");
    $("#everything-is-true").val("on");
    $("#date-of-incident").val("2024-01-21");
    $("#time-of-incident").val("21:32");
  });


  /*
   * Take list of car checkboxes and summarize
   */
  $('#cars-involved').on("change", function(){
    var carsInvolved = [];
    $("#cars-involved :input").each(function() {
      if ($(this).is(":checked")) {
        var car = $(this).val()
        console.log("checked:",car);
        carsInvolved.push(car);
        var allCars = carsInvolved.join(",");
        $("#cars-involved-summary").val(allCars);
      }
    });
  });

  /*
   * Take list of weather checkboxes and summarize
   */
  $('#weather-conditions').on("change", function(){
    var weatherConditions = [];
    $("#weather-conditions :input").each(function() {
      if ($(this).is(":checked")) {
        var car = $(this).val()
        console.log("checked:",car);
        weatherConditions.push(car);
        var allWeather = weatherConditions.join(",");
        $("#weather-conditions-summary").val(allWeather);
      }
    });
  });

  /*
   * If first responders were called, show the textarea
   */
  $('#were-first-responders-called').on("change", function(){
    console.log("Were first responders called?",$(this).val());
    var wereFirstRespondersCalled = $(this).val();
    if (wereFirstRespondersCalled == "yes") {
      console.log("First Responders were Called");
      $('#who-were-the-first-responders-group').show();
    } else {
      console.log("First Responders were NOT Called");
      $('#who-were-the-first-responders-group').hide();
    }
  });

  /*
   * If the car was damaged, show the textarea
   */
  $('#was-the-car-damaged').on("change", function(){
    console.log("Was the car damaged?",$(this).val());
    var wasTheCarDamagedCalled = $(this).val();
    if (wasTheCarDamagedCalled == "yes") {
      console.log("The car was damaged");
      $('#how-was-the-car-damaged-group').show();
    } else {
      console.log("The car was NOT damaged");
      $('#how-was-the-car-damaged-group').hide();
    }
  });




  /*
   * Only allow the submit button if the checkbox is clicked.
   */
  $('#everything-is-true').on("change", function(){
    $('#submit-button').attr('disabled', $('#everything-is-true:checked').length == 0);
  });


  /*
   * Take the operator selected and populated the user data.
   */
  $('#operators').on("change", function(){
    console.log("Select name:",$(this).val());
    var operator = $(this).val();
    var names = operator.split("|");
    var firstname = names[0];
    var lastname = names[1];
    var email = names[2];
    var phone = names[3];
    var name = firstname+" "+lastname;
    console.log("Firstname:",firstname);
    console.log("Lastname:",lastname);
    console.log("Phone:",phone);
    console.log("eMail:",email);
    $('#first-name').val(firstname);
    $('#last-name').val(lastname);
    $('#name').val(name);
    $('#email').val(email);
    $('#phone').val(phone);

    var date = new Date();
    var now = date.toISOString(); //"2011-12-19T15:28:46.493Z"
    $('#date-report-written').val(now);
  }); /* operators onChange */


  /*
   * Add a Witness Operator
   */
  var witnessOperators = 0;
  $('#add-witness-operator').on("mousedown", function(){
    witnessOperators = witnessOperators + 1;
    $("#witness-operators").append(`
      <select class="form-control" class="witness-operator-select" id="witness-operator-`+witnessOperators+`" name="witness-operator-`+witnessOperators+`">
      <option selected value=""></option>
      {% for operator in site.operators %}
        <option value="{{ operator["lastname"] }}, {{ operator["firstname"] }}">{{ operator["lastname"] }}, {{ operator["firstname"] }}</option>
      {% endfor %}
      </select>`);
  });

  /*
   * Add a Witness Other
   */
  var witnessOther = 0;
  $('#add-witness-other').on("mousedown", function(){
    witnessOther = witnessOther + 1;
    $("#witness-other").append(`
      <select class="form-control" class="witness-other-select" id="witness-other-`+witnessOther+`" name="witness-other-`+witnessOther+`">
      <option selected value=""></option>
      {% for other in site.other_members %}
        <option value="{{ other["lastname"] }}, {{ other["firstname"] }}">{{ other["lastname"] }}, {{ other["firstname"] }}</option>
      {% endfor %}
      </select>`);
  });

  /*
   * Add a Witness Other
   */
  var witnessOther = 0;
  $('#add-witness-staff').on("mousedown", function(){
    witnessOther = witnessOther + 1;
    $("#witness-staff").append(`
      <select class="form-control" class="witness-staff-select" id="witness-staff-`+witnessOther+`" name="witness-staff-`+witnessOther+`">
      <option selected value=""></option>
      {% for staff in site.staff %}
        <option value="{{ staff["lastname"] }}, {{ staff["firstname"] }}">{{ staff["lastname"] }}, {{ staff["firstname"] }}</option>
      {% endfor %}
      </select>`);
  });


  /*
   * Submit the Incident Report
   */
  $("#incident-report").submit(function(e){
    e.preventDefault();
    var form = this;

    var foundFirstName = false;
    var foundLastName = false;
    var foundName = false;
    var foundPhone = false;
    var foundEmail = false;
    var foundDateReportWritten = false;
    var foundCarsInvolvedSummary = false;
    var foundWeatherConditionsSummary = false;
    var foundEverythingIsTrue = false;
    var foundDateOfIncident = false;

    var everythingIsTrue = $('#everything-is-true').val();
    var submitButton = $('#submit-button').val();
    console.log("everythingIsTrue:",everythingIsTrue);
    console.log("submitButton....:",submitButton);

    // Capture the form data
    let data = {};

    $('form#incident-report input, form#incident-report select, form#incident-report textarea').each(function(index){  
        var input = $(this);
        var inputType = input.attr('type');
        var inputName = input.attr('name');
        var inputValue = input.val();
        var printInput = true;

        if (inputType == "checkbox") {
          if (input.prop("checked")) {
            printInput = true;
          } else {
            printInput = false
          }
        } // if checkbox

        if (String(inputType) == "undefined") {
          printInput = false;
        } // if inputType is undefined, then it is a textarea that has no value

        if (inputValue == "") {
          printInput = false;
        } // if inputValue is empty

        if (printInput == true) {
          console.log('Type: ' + inputType + ' Name: ' + inputName + ' Value: ' + inputValue);
          data[inputName.replace("-summary", "")] = inputValue;
          if (inputName == "first-name") { foundFirstName = true; }
          if (inputName == "last-name") { foundLastName = true; }
          if (inputName == "name") { foundName = true; }
          if (inputName == "phone") { foundPhone = true; }
          if (inputName == "email") { foundEmail = true; }
          if (inputName == "date-report-written") { foundDateReportWritten = true; }
          if (inputName == "cars-involved-summary") { foundCarsInvolvedSummary = true; }
          if (inputName == "weather-conditions-summary") { foundWeatherConditionsSummary = true; }
          if (inputName == "everything-is-true") { foundEverythingIsTrue = true; }
          if (inputName == "date-of-incident") { foundDateOfIncident = true; }
        } // if printInput

      }); /* form each function */


      if ((foundFirstName == false) ||
          (foundLastName == false) ||
          (foundName == false) ||
          (foundPhone == false) ||
          (foundEmail == false) ||
          (foundDateReportWritten == false) ||
          (foundCarsInvolvedSummary == false) ||
          (foundWeatherConditionsSummary == false) ||
          (foundEverythingIsTrue == false) ||
          (foundDateOfIncident == false)) {

        console.log("MISSING INPUT FIELDS");
        $('#response').html("Missing Input Fields. Please complete the form before submitting!");
        $('.mandatory').css("color", "red");

      } else {
        console.log("All required inputs found. Submitting form.");
        $('#response').html("All required inputs found. Submitting form.");
        $('.mandatory').css("color", "black");
        console.log('Form Data: ', JSON.stringify(data));

        /* ******************************** */
        // Create the AJAX request
        const formURL = 'https://y9lpwjzcya.execute-api.us-east-1.amazonaws.com/prod/reportrecord';
        var xhr = new XMLHttpRequest();
        xhr.open(form.method, formURL, true);
        xhr.setRequestHeader('Accept', 'application/json; charset=utf-8');
        xhr.setRequestHeader('Content-Type', 'application/json; charset=UTF-8');

        // Send the collected data as JSON
        xhr.send(JSON.stringify(data));

        xhr.onloadend = response => {
          if ((response.target.status > 199) && (response.target.status < 300)) {
            form.reset();
            $("#response").html("<strong>Incident Report Submitted</strong><p />Thank you for submitting your incident report.<br />Please look for a copy in your eMail.");
            console.log("Response:",response.target.status,response.target.response);
            //console.log(JSON.parse(response.target.response).message);
          } else {
            $("#response").html('<strong>Error!</strong><p />Unable to submit form..');
            console.log("ERROR Response:",response.target.status,response.target.response);
            //console.error(JSON.parse(response.target.response).message);
          }
        } /* xhr.onloadend */
        /* ******************************** */


      } // if all elements found

  });

}); /* document ready */
</script>






<input type="button" name="devon" id="devon" value="Devon" />


